{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
    <title>Publish New Article</title>
{% endblock title %}
{% block content %}
    {{ note }}
    <form action="{% url 'new_article' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group row mb-2 ">
                {{ field.label_tag }}
                <div class="col-sm-10 mx-auto">{% render_field field class="form-control" %}</div>
            </div>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    <div style="margin: 0 auto; width: 800px; text-align: left;">
        <p class="m-4">Want to upload an article instead?</p>
        <a class="btn btn-sm btn-success" href="{% url 'upload_article' %}">Upload an article</a>
    </div>
    {% if note %}
        <a href="{% url 'Articles_ListView' %}" class="m-4 btn btn-primary">View articles</a>
    {% endif %}
{% endblock content %}
